*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

body {
    min-height: 100vh;
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;

    font-family: sans-serif;

}

/* Display: Grid */

.header, 
.header-top, .search-area,
.header-bottom, .header-buttons,
.sidebar,
.main-content, 
.mc-left, .projects-area,
.mc-right {
    display: grid;
}

/* Header */
.header {
    grid-column: 2 / 3;
}

.header-top {
    grid-auto-flow: column;
}

.search-area {
    grid-auto-flow: column;
    grid-template-columns: 70px 1fr;
    gap: 10px
}

#search-button {
    background: url(icons/search.svg);
    height:30px;
    width: 30px;
    justify-self: right;
    align-self: center;
}
#search-bar {
    align-self: center;
    justify-self: left;
    background-color: rgb(228, 231, 233);
    height: 35px;
    width: 89%;
    border-radius: 10px;
}

.header-bottom{
    grid-auto-flow: column;
}

.top-buttons{
    color: white;
    font-size: medium;
    font-weight: bold;
    background-color: rgb(0, 124, 196);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
}

.user-greeting {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 130px 1fr;
}

.pfp {
    justify-self: center;
    align-self: center;
    height: 75px;
    width: 75px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    background: url(profile-picture/cute\ cat.jpg);
    background-size: contain;
}

.hi-there {
    margin-top: 20px;
    font-size: medium;
    font-weight: bold;
}

.user {
    font-size: xx-large;
    font-weight: bolder;
}

.header-buttons {
    grid-auto-flow: column;
    gap: 25px;
    align-items: center;
    padding: 0 10% 0 10%;
}

/* Sidebar */
.sidebar {
    grid-area: 1 / 1 / -1 / 2;

    color: white;
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(0, 124, 196);
    grid-template-rows: 100px 1fr;
}

li {
    padding-left: 35px;
    margin: 10px 0 10px;
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    align-items: center;
}

li:hover {
    background-color: rgb(7, 87, 153);
}

.list-space:hover {
    background-color: rgb(0, 124, 196);
}

.list-space {
    padding: 20px 0 20px;
}

img {
    fill: white;
    height: 30px;
    width: 30px;
    color: white;
    filter: invert(100%);
    text-align: center;
    margin-right: 30px;
}

.dashboard {
    padding: 17px 0 0 40px;
    font-size: xx-large;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: left;
}

.dash-icon {
    height: 70px;
    width: 70px;
    margin-right: 8px;
}

/* Main Content */
.main-content {
    grid-column: 2 / 3;

    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(228, 231, 233);
}

h3 {
    margin: 25px 0 0 50px;
}

.trending-h3 {
    margin-top: 5px;
}

.mc-left {
    grid-template-rows: 50px 1fr;
}
.projects-area {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

h4 {
    margin: 30px 40px 2px 25px;
    font-size: 22px;
}

.project {
    height: 85%;
    width: 80%;
    background-color: white;
    align-self: top;
    justify-self: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    background: linear-gradient(to right, rgb(255, 189, 67) 8px, white 0);
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    text-overflow: ellipsis;
    overflow: hidden;
}

.project p {
    margin: 0 15% 0 25px;
    font-size: 17px;
    color: gray;
}

.project button {
    height: 25px;
    width: 25px;
}

.project-button-holder {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 30px 30px 30px;
    gap: 20px;
    padding: 0 30px 10px;
    max-width: 100%;
}

.proj-butt-1 {
    background: url(icons/star-plus.svg)
}

.proj-butt-2 {
    background: url(icons/eye-plus.svg);
}

.proj-butt-3{
    background: url(icons/source-branch.svg);
}

.project button:active {
    filter: invert(40%);
}

.mc-right {
    grid-template-rows: 50px 1fr 30px 1fr;
}

.announcements, .trending {
    height: 90%;
    width: 75%;
    background-color: white;
    align-self: top;
    justify-self: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    overflow: hidden;
}

.announcements {
    padding: 25px 25px 25px 25px;
}

h5 {
    font-size: 18px;
}

.announcements p {
    font-size: 15px;
    max-height: 60px;
    width: calc(100%);
    color: gray;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

hr {
    color: rgb(231, 228, 228);
    border: 0.5px solid;
    margin: 15px 40px 15px 40px;
}