*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

body {
    min-height: 100vh;
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;

    font-family: sans-serif;

}

/* Display: Grid */

.header, .header-top, .header-bottom,
.sidebar,
.main-content, .mc-left, .projects-area, .mc-right {
    display: grid;
}

/* Header */
.header {
    grid-column: 2 / 3;

    
}

.header-top {
    grid-auto-flow: column;
}

.header-bottom{
    grid-auto-flow: column;
}

.top-buttons{
    color: white;
    font-size: medium;
    font-weight: bold;
    background-color: rgb(0, 124, 196);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
}

.user-greeting {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 130px 1fr;
}

.pfp {
    justify-self: center;
    align-self: center;
    height: 75px;
    width: 75px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.hi-there {
    margin-top: 20px;
    font-size: medium;
    font-weight: bold;
}

.user {
    font-size: xx-large;
    font-weight: bolder;
}

/* Sidebar */
.sidebar {
    grid-area: 1 / 1 / -1 / 2;

    color: white;
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(0, 124, 196);
    grid-template-rows: 100px 1fr;
}

li {
    padding-left: 70px;
    margin: 10px 0 10px;
}

.list-space {
    padding: 20px 0 20px;
}

.dashboard {
    background: url(icons/dashboard.svg) no-repeat;
    background-position: 6%;
    background-size: 50px;
    padding: 33px 0 0 80px;
    font-size: xx-large;
}

.home {
    background: url(icons/home.svg) no-repeat;
    background-position: 8%;
}

.profile {
    background: url(icons/profile.svg) no-repeat;
    background-position: 8%;
}

.messages {
    background: url(icons/messages.svg) no-repeat;
    background-position: 8%;
}

.history {
    background: url(icons/history.svg) no-repeat;
    background-position: 8%;
}

.tasks {
    background: url(icons/tasks.svg) no-repeat;
    background-position: 8%;
}

.communities {
    background: url(icons/community.svg) no-repeat;
    background-position: 8%;
}

.settings {
    background: url(icons/settings.svg) no-repeat;
    background-position: 8%;
}

.support {
    background: url(icons/support.svg) no-repeat;
    background-position: 8%;
}

.privacy {
    background: url(icons/privacy.svg) no-repeat;
    background-position: 8%;
}

/* Main Content */
.main-content {
    grid-column: 2 / 3;

    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(228, 231, 233);
}

.mc-left {
    grid-template-rows: 50px 1fr;
}
.projects-area {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.project {
    height: 85%;
    width: 80%;
    background-color: white;
    align-self: top;
    justify-self: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    background: linear-gradient(to right, rgb(255, 189, 67) 8px, white 0);
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.mc-right {
    grid-template-rows: 50px 1fr 30px 1fr;
}

.announcements, .trending {
    height: 90%;
    width: 75%;
    background-color: white;
    align-self: top;
    justify-self: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

h3 {
    margin: 25px 0 0 50px;
}

.trending-h3 {
    margin-top: 5px;
}

h4 {
    margin: 30px 40px 2px 25px;
    font-size: larger;
}

.project p {
    margin: 0 15% 0 25px;
    font-size: 14px;
    color: gray;
}

.proj-butt-1 {
    background: url(icons/star-plus.svg)
}

.proj-butt-2 {
    background: url(icons/eye-plus.svg);
}

.proj-butt-3{
    background: url(icons/source-branch.svg);
}

.project button {
    height: 25px;
    width: 25px;
}

.project-button-holder {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 30px 30px 30px;
    gap: 20px;
    padding: 0 30px 10px;
    max-width: 100%;
}