*{
    margin:0;
    padding:0;
    box-sizing: border-box;

    border: black dotted 2px;
}

body {
    min-height: 100vh;
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    border: none;
}

/* Display: Grid */

.header, .header-top, .header-bottom,
.sidebar,
.main-content, .mc-left, .projects-area, .mc-right {
    display: grid;
}

/* Header */
.header {
    grid-column: 2 / 3;
}

.header-top {
    grid-auto-flow: column;
}

.header-bottom{
    grid-auto-flow: column;
}

.top-buttons{
    color: white;
    font-size: medium;
    font-weight: bold;
    background-color: rgb(0, 124, 196);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
}

/* Sidebar */
.sidebar {
    grid-area: 1 / 1 / -1 / 2;

    color: white;
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(0, 124, 196);
    grid-template-rows: 100px 1fr;
}

/* Main Content */
.main-content {
    grid-column: 2 / 3;

    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(228, 231, 233);
}

.mc-left {
    grid-template-rows: 50px 1fr;
}
.projects-area {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.mc-right {
    grid-template-rows: 50px 1fr 50px 1fr;
}